github "duemunk/Async"
github "nixzhu/KeyboardMan"
github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
github "kishikawakatsumi/KeychainAccess"
github "DaveWoodCom/XCGLogger"
github "stephencelis/SQLite.swift"
github "malcommac/SwiftDate"
github "krzyzanowskim/CryptoSwift"
github "thii/SwiftHEXColors"
github "lexrus/LTMorphingLabel"
github "Moya/Moya"
github "hemantasapkota/JSQMessagesViewController"