<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.0</key>
	<array>
		<string>٩(๑❛ᴗ❛๑)۶</string>
		<string>|(￣3￣)|</string>
		<string>┏(＾0＾)┛ </string>
		<string>(/≧▽≦/)</string>
		<string>ฅ( ̳• ◡ • ̳)ฅ</string>
	</array>
	<key>0.9</key>
	<array>
		<string>〜(￣▽￣〜) </string>
		<string>〜(￣▽￣)〜*</string>
		<string>(~_~;)</string>
		<string>（￣︶￣）〜</string>
		<string> (*^_^*)</string>
	</array>
	<key>0.8</key>
	<array>
		<string>( ´ ▽ ` )ﾉ </string>
		<string>ฅ( ̳• ◡ • ̳)ฅ</string>
		<string>(≖ ‿ ≖)✧</string>
		<string>ー( ´ ▽ ` )ﾉ</string>
		<string>(・∀・)</string>
	</array>
	<key>0.7</key>
	<array>
		<string>(^_^)v</string>
		<string>p(*＾-＾*)q</string>
		<string>(￣0 ￣)y </string>
		<string>&lt;(￣︶￣)/ </string>
		<string>（＠￣︶￣＠）</string>
	</array>
	<key>0.6</key>
	<array>
		<string>八(＾□＾*) </string>
		<string>(・_・ヾ </string>
		<string>(-’๏_๏’-) </string>
		<string>（─__─）</string>
		<string>(。・ˍ・。)</string>
	</array>
	<key>0.5</key>
	<array>
		<string>( ・◇・)？</string>
		<string>⊂((〃’⊥’〃))⊃ </string>
		<string>_(._.)_</string>
		<string>(￣・・￣) </string>
		<string>(→_→)</string>
		<string>(|||❛︵❛.) </string>
		<string>o_O?</string>
		<string>(ㆁ × ㆁ) </string>
		<string>(..◜ᴗ◝..) </string>
		<string>(⊙_⊙;)</string>
	</array>
	<key>0.4</key>
	<array>
		<string>(´･_･`)</string>
		<string>(⌒_⌒;)</string>
		<string>(*￣(ｴ)￣*) </string>
		<string>(&gt;_&lt;)</string>
		<string>（／ˍ・、）</string>
	</array>
	<key>0.3</key>
	<array>
		<string>(￣^￣)</string>
		<string>(*・_・)ノ⌒* </string>
		<string>（—.—||）</string>
		<string>(⊙ˍ⊙)</string>
		<string>&lt;(‵^′)&gt; </string>
	</array>
	<key>0.2</key>
	<array>
		<string>(ㄒoㄒ) </string>
		<string>（／_＼） </string>
		<string>(_・・_) </string>
		<string>(＠・ˍ・)</string>
		<string>(｡•́︿•̀｡) </string>
	</array>
	<key>0.1</key>
	<array>
		<string>(o´･_･)っ </string>
		<string>(ﾉ*ﾟｰﾟ)ﾉ</string>
		<string>(｡･ˇ_ˇ･｡)</string>
		<string>(。_。)</string>
		<string>(｡・`ω´･)</string>
	</array>
	<key>0.0</key>
	<array>
		<string>（┬＿┬）</string>
		<string>（︶︿︶）</string>
		<string>╰（‵□′）╯</string>
		<string>（＞﹏＜）</string>
		<string>（╯‵□′）╯</string>
	</array>
</dict>
</plist>
